.box{
  text-align: center;
}

.box p{
  display: inline-block;
}

button{
  cursor: pointer;

  padding: 10px 50px;
  border: 2px solid var(--main-bg-color);

  color: white;
  
  background-color: #50c878;
  width: 350px;
  border-radius: 5px 5px;

  transition: 0.5s;

  font-size: 16px;
  text-transform: uppercase;
}

button:hover{
  
  background-color: #63c038;
}

.description{
  width: 350px;
  color: gray;
}
